@page
@model IndexModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Home page";
    var user = await UserManager.GetUserAsync(User);
}

<div class="text-center">
    <h1 class="display-4">Din spelplan för diskussion</h1>
    
</div>

<div class="row">
    @if(Model.Blogs!= null)
    {
        var sortedBlogs = Model.Blogs.OrderByDescending(blog => blog.Date);
        @foreach(var blog in sortedBlogs)
        {

            <div class="card m-2" style="width: 40rem">
                <img class="card-img-top" src="~/userImages/@blog.Image" />
                <div class="card-body">
                    <h3 class="card-title">
                        <a asp-page="/BlogDetails" asp-route-id="@blog.Id">@blog.Header</a>
                    </h3>
                    <p class="card-text">@blog.Text</p>
                    @if (user != null && user.Id == blog.UserId)
                    {
                        <a asp-route-deleteId="@blog.Id" class="btn btn-danger">Ta bort</a>
                    }
                    
                </div>
                <p class="card-footer">@blog.Date</p>
            
            </div>

        }
    }
</div>
@if(SignInManager.IsSignedIn(User))
{
    <form method="post" enctype="multipart/form-data"> 
        <label asp-for="Blog.Header">Rubrik:</label>
        <input asp-for="Blog.Header" />
        <br /> <br />

        <label asp-for="Blog.Text">Text:</label>
        <textarea asp-for="Blog.Text" cols="50" rows="6"></textarea>
        <br /> <br />

        <label asp-for="Blog.Image">Ladda upp bild:</label>
        <br /> <br />
        <input type="file" name="uploadedImage" />
        <br /> <br />

        <input type="submit" class="btn btn-success"value="Publicera inlägg" />
    </form>

}
else
{
    <p class="alert alert-danger">Du är inte inloggad!</p>
}
